
body{
    background-color: #2D2C33;
    align-items: center;
    justify-content: center;
    display: flex;
}
.opros{
    background-color: #1B1B1E;
    border: none;
    margin-top: 30px;
    position: sticky;
    box-shadow: -15px 7px 8px 0px rgba(13, 23, 31, 0.2);
    border-radius: 15px;
}
.name_opros{
    color: #FFFFFFD9;
    font-family: arial;
    font-weight: 500;
    font-size: 40px;
    text-align: left;

}


.RedStar{
    color: rgb(255, 99, 71, 0.75);
}
.title{
    font-family: arial;
    color: #FFFFFFD9;
    font-weight: 400;
    font-size: 20px;
}
.title_3{
    font-family: arial;
    color: #FFFFFFD9;
    font-weight: 400;
    font-size: 20px;
    margin-left: 15px;
}
.dannie{
    border: none;
    border-radius: 5px;
    background-color: #2D2C33;
    margin-left: 15px;
    color: white;
}
.chek{
    font-family: arial;
    color: #FFFFFFD9;
    font-weight: 400;
    font-size: 15px;
    margin-left: 15px;
}
.button{
    width: 98%;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    background-color: #2D2C33;
    margin-top: 50px;
    color: #FFFFFFD9;
    font-weight: 800;
    font-family: arial;
}
.end{
    margin-top: 50px;
    font-family: arial;
    color: #FFFFFFD9;
    font-weight: 400;
    font-size: 20px;
}




.group_name{
    position: relative;
    margin-bottom: 30px;
}
.group_second_name{
    position: relative;
    margin-bottom: 30px;
}
.group_third_name{
    position: relative;
    margin-bottom: 30px;
}
.group_age{
    position: relative;
    margin-bottom: 30px;
}
.group_city{
    position: relative;
    margin-bottom: 30px;
}
.group_country{
    position: relative;
    margin-bottom: 30px;
}
.group_ogrode{
    position: relative;
    margin-bottom: 30px;
}
.group_nravitsa{
    position: relative;
    margin-bottom: 30px;
}
.group_pereezd{
    position: relative;
}


#ogrode{
    border: none;
    width: 92%;
    height: 200px;
    resize: none;
    border-radius: 10px;
    background-color: #2D2C33;
    margin-left: 15px;
    color: white;
}















